@using System.Security.Cryptography.X509Certificates
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using System.Text.Json
@model TryPiranha.Blocks.CovidStatusBlock


@{
    var selected = "";
     
    long cases = Model.Status.Cases;
    HttpClient client = new HttpClient();
    client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

    var countryResponse = await client.GetAsync("https://datahub.io/core/country-list/r/data.json");
    var countries = await countryResponse.Content.ReadFromJsonAsync<List<Country>>();
    
    
    var statusResponse  = await client.GetAsync("https://corona.lmao.ninja/v2/countries/vn");
    var result = await statusResponse.Content.ReadFromJsonAsync<Covid19Status>();
}

@functions{
    public string GetHello()
    {
        return "Hello";
    }

    public void OnChange()
    {
        
    }
}
<h1>Covid 19 status</h1>
<select id="select" class="form-select" aria-label="Default select example" >
    @foreach (var i in countries)
    {
        <option value="@i.Code">@i.Name</option>
    }
</select>
<p >Case: <span id="case">@result?.Cases</span> </p>

@* <script type="module" src="./assets/js/all.js"></script> *@

<script type="text/javascript">
$(document).ready(function () {
  $("select#select").on('change',
    function() {
      console.log(this.value)
      fetch(`https://corona.lmao.ninja/v2/countries/${this.value}`)
        .then(x  => x.json())
        .then(x => document.querySelector('span#case').innerHTML = x.cases)
      
      
    }
  )
})



</script>